<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Reporte proceso nocturno Panelv3</title>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
th {text-align: center;}
.myDiv {
  width: 1200px;
}
p {
  line-height: 1.5;
}
</style>
</head>
<body>
<div>
	<header>
		<div id="logo">
		<table style="width:100%; border:none;"><tr>
		<td colspan="1" style="border:none;">
			<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHkAAABQCAIAAACyO03gAAAAAXNSR0IArs4c6QAAAARnQU1BAACx
jwv8YQUAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfaAwISCxBzOZkDAAAAIXRFWHRDcmVh
dGlvbiBUaW1lADIwMTA6MDM6MDIgMTU6MTE6MTZkjDhqAAAf9UlEQVR4Xu1cB1hTSdeGEEJvoRdB
AUGxV4q9brF+ir2turprdwXr2nXFAiq6KIIKdhG7IIoi0otKk95raAkQekngf28mRGRZy/7f7/P8
C694OffMmblzz5w55d4E8ZaWFrEufBPQhL+78H+PLl1/O3Tp+tuhS9ffDl26/nbo0vW3Q5euvx3+
ua67EvOvxVfXMpAXFxcndH19Q3JaegGL1djURBOnaaipGxsZqKupkda2kl0AvlrXjY1NmdnZAcGh
ke9ieE2NqkymoqKCvLxCQ319ZVVVcQm7pZlnbGQ0edJ4M5OeCgry6NKldIIv0jWRgb58fP0uuF0d
MqDf1B+/N+imx1RRJgK5+fnqqkwZGVnQtbV1rKKiV6+DfF74jRlpuXndr0SmC5QeP43m5mYci4tL
Nm/Z+stG24rycpxyudzQ8Aj3q9ejYt83NTXZbNtVVV0NyaCQ0IdeXqyiYkHXFnvHP3+cvTA4LIKc
dnJ8RtdE0Z4Pn8xbtjozKxf0q4DgklJ2Xn6Bx9370O/u/Yc4ZeXnXC6j6cYtD3//wNq6ui3bd1dU
cFlFhfX19SWlpTv2Hly1dhOWhIzWafG3eQhpBnHs5Bkvr6c3L51nMCSqqqrKyzi1tbVqaqql7DJ5
Obn+/fvn5ec38XiQzMljjR07SkZamiElxZBiPHjk7eJ+lc9vtjuwB85k9Uab6upqwdidFJ/K+eCg
t+zco6Gm5u7q1NzCz2MV/nHs1ORJExoaGqQYDNjvY++nEDPrZdpdX7empqqnUQ/3a9fPuV6e8v3E
6Jj3kJeWks3Jy0tITpk1c9r6VSumzl3C5pSRJeyMIPbbDmSz2+7aZ3fiFIjomLg/nV1BxCckrtm4
5dETb4oZG8cqLAJRweXC0isqKtCrlAK7rq7+qMNpv8AQXz9/CGzdvf99fDyI5NS0OYuWw7GA7oTo
IA+huOLi5y+60em0VT8tCwgOefMuZvCAvuPHjkErm8MpKi7pa9YbCr1++04+q5CprJScltm3t0l5
RYWSovLUHyf3MNAvKy9/FxOrxlRTUVFMy8jqpqPt/czXZtP6oJCwoycdH3rcoEvQOl0iKNB4e4S/
effj7AV8Pj85NdXX1xec/YftAoJCGhsbQUPLD594/77/8Oug0CZeEzhnz7tQ3Vpa0jIyjjmcdjx3
oaiouK6+gc1hb9m22/nS1Tv37qM1Ni6ex+Nd97jn6OSM084WKtvrGvfP5VbOXrAUNUtYRAT0W1Nb
29zMR5Od/emysvL8Apbtjt1RMe+xEqQHEgx7RycBLQRkDtqdePDkKej4hCR4GJQ5Nz3u/jBrARwO
mOt+2xYa8UYg24nQgQ85evKM1fCho0daPXj4uJhTnpubq6iouGXDGgaD8T4hycn50gm7/agUqc6U
E2jh8fiO51xsNq4V9m8FEkENDTXrmdODwyMDg0IVFBXGjLA0MTasq6+XkKDPnL/s8W13OXn5TuRJ
BBr/gDdR0XOWrCA09ntuXj6rgHX15m1kHXC7p5ycYe+ktRUd2DU2B/EPN257nDp7HkRaZrbt7/vj
4+JXrf/thOM5cF6HhDk6XaCkOw0+6BragdZmLfyJVVjYhsNzueSemZ1TXV2zbrMtvAFRYht0oGsC
Iul+7YZ/YFBDYxPyE+eL7oiQYML/ACvWbET6KJDtFPjIruPjE0+c/hPEeVeqDqQg0BdC4q4Dh7mV
1YT3Mf5W1wJtUzhodxyKfuUfEPnmLeGSVi8f3822OwV0p8BHuv5t++9wGvkFBVnZOSHhb/447lBT
Wwd+YEhoYEgYiFY1tcUndC1EYVHxepsdwpMPoIaaar0oNzevo2H/hfhQNyalpHLKud30dJWVlW/c
uctms2dMnRIeEVldW3v/kZeV+TBI/4M4hl5amhqzZkwLEyQehNmAndLEB2G7af3zl/6dJDx+0LXb
tVtL51uDkJOV/X3rlskTxt198MjSwtz92s3FC+ZJSEh8iUZE2hQR6AV6hPkwVDE4dbl85dqtW15P
n8H7J6elj7AYGvM+nkj+6yHUNbeyEs5jwrgxj7x8Ll65eea865lzF2ZM/Z7P49VUVQ8Z2J+IfRZE
s4TAUaRxBkNSS0szKiZ2xdJFSxYs8PUP3LZlo6mxEY0mIS0rl5WTQ8T+3RDquri4xGLYMBD6+t1a
+I06WhpLFy3oYdA9MTnlu0kTiIxIcQDyB1LLCM/bAFrGahWXlPo880X24uF5j+j9u4njPe8/ptPp
sOh1P6/oaWRYX1/fUF8/fqTllRsepK8IbUcW0Z9lfhodSv6V2eHIrXQHI3w5hLoOexs9bswIlNTS
DMbM6dOQ9mVmZSkpKT738+/WTZdcCSqLi09AoAN95Pip8y4XRVYsAqJcRORbOo22wXan65XrE6bO
6tO3H5fLRZOmhrqGqmoBq2jjr7/UNdTfffhovc12TnmZlaV5dEwsOpIRCDByY1PTvcfeiKCgs3Pz
EJzJmhGAzsjKTk5Na8v8NCAZEBjC41NxAigqLg57E/XX7uC8DgrNLSho2wT6ZUAQgozw/B+BRlQV
Hh6uo6UVEhYhLiGurqY633p2dW0dm1OG6lyVyRSIiBWXlJw66/zzhi1u12/pd9c/d9H91h3Y7AeP
D2NPT89AMu5y2X3sSKsJY0fP+c/0bdt3pqZlEIEff5icmp4uJy+bkZGlo6k1aoSVnq6uspIik6ma
nJrebtmg6+vXb4sJ7jcjM+v5Sz8BmzIxFFkgEF+xMUSdSHeS0ohOyYP1uro6spZVNTVoAIFNWcAq
9A8IBA1gKBxFE/B96ZeZkU04Iuaz534NDZQYAjvhfC1ouBd0rq6pZTJVSkrLHjzyPmh34v5j73Gj
LFGDWJqbQwir2szn7zl0bOoP32VkZHvee4zUcFD/AVDE0+cvETbJWPAPyelZF6/e+HX1co97jzzu
Po6Oi584afyhYw5Xrt+EgIFBt8SkFD09XQvzoQ+8fEZbmdsdt6+pqRkzwiI7J6edieEEG4vQcPfy
cvJcbuW1Wx7OF902b91VweVCg5KSkifPOIFu4vFvej7AJPcdOrJ9z8HKqqpXgcGnz7ncvHPvbVSs
3YmTTs6XMA71pExMDEnt2o02Lm7X1dWY8GNI//84fgr7GBO4fefumk22sQlJKq2vUsE8Zn9y2+4D
5RXldEl6QkLizr2Hzp534fM6dqGfAGWVMXHxKjDeFjGGJGOn7WabTet0dbQkJRmpaZnDBg+EAAY9
eNR+5bKF2OzKCgocTpn19CkXzjosmDN7pOVw0faH0ocM6KPGZPL5zTA9Ol0CkjRxiUXz5y6cPxfD
QDXETuG4+/ftnZ6RNX/eXAk63crCPDe/QDDGx8CNChYAR8xBnCZ+1vny6BGWQwYNiHgbzWIV5ubn
Y+aRb6J8fF8qKchv2r7H1MSkp0nPG7c8igoLi4tKli2cd/2O5zxr63VrVmKc+IRkCRrNzt7x8IG9
y5fMq61rwDytZ07/ftL4Jz4vUtLSQ8Mjzzva9+ttWldfT677p4ubrJz88cP7mCrKUgzGEfszS+Zb
5xYUpaRnkLl9OShdx8bFm5malJWXdTfQ5fN5yPmm/fh9bV0dnU5TUVaCgJf384TkVKcLl31e+CFZ
xu5etHIdZoP7V1RUbLu8yioqvXqZRkZGTJ44jqmiYj1j6uuQiGZ+kySdjpnjPhlSUnn5rOWL5w3s
14/X3PLM5wWKVX19PVYhFQbaAitXwuYQmvIV1Bv6+nGjrfqY9ZbCTUvSqZUTa1k8b3ZaRmZoROSk
8WNyc3MGDeg/YbTViqVLGhr5308ej752+3ZHvIvae+AI5ikrK0Oj0WSkpWHRyopK0BXc9+2798Mi
32pqaOQVsJYvX4Yu2OJwMoIri8VEx8yxngUCZQdGoDMkccvrVv9kbNidCHw5KF3n5ub272vW2Mh7
+zb65J8XjjmcRv4LF8ZUpjz126joxJQUz2uXGAzG6eOHH3hccTnrsHrFkj2HjxK/2RZZmVmIAPwW
iaqq6qFDBialpEnRxcx690ITZZji4j266WG0PFYR4h6uPXbsyPKqKrqEBLeqioxAAGFpKalxY0cf
P3U2NOLNnXsPF82zbmxsqK6uRSvmhkvDFzc18TCrrJw8XV0dKSmpaT98/+J1YH5BYXFpKZw54geE
30XHjLI0r6yp5Tc3k/SJISXp9cz33sMnDLokfJqmppaaKjM9M6tPL1On8y4Iws9e+svISAsmIjZ1
yneOf57DvomKjoVRGehqZ2TlIN60C+ZfBFx71YYtmF9cfCLy3JTUtCs37sDfsQqLMCHU395PfXDn
ANwlIQggidsA0bZGJ++3goODXd2v7dr3x/U796CUrGzqBTzBu+g4V7dryAjveFJvDxJTUu94UjKb
t+7GKYlsrQQOzZjVCz9/xDEwEVeKSqhPQ1RUcJFNYjmrqqlHNPkFrMoqikCn6Nj3b6NisA/KKyqq
a2rALCoueR0YApsFzeZwMGZtba1/QHBObl5ZeTmPxw8Oi8jKzklMTIIA7jokPBJHbGucEiQkJScl
p2DO0BWCxOvAYERy0MLmL4YYVn/ZqvVwC+5Xr+XmFay32REe+TY7Nyc1PQORjQiJVCCCiAOi3fMQ
0oRlgK8QnYrkYRSHj50EAWs9fNQecRjrCl3b7txXV9f+PaSoFyCi2zKBDvn/gEnwiSaCDgf5QtCw
D7GX4U8nTZx4zuXStk3rCothO+KwHQV5OWL7fw0CIs5fwwOaMO7ggQP0dLXhDMAgTNKqpqpSXVvL
4/NQLiEIb1izKj09Ez5USkqysvIjNwK0vW6bK350yQ75/4BJ8IkmAsLEDYLAkTC/EDTkDDRB0oZa
Y+/Ord266elqaSkrKpaw2QhlROiTEEcQg7KEZwK0mWX7CctIy4BBl6A7u14+63zx6s07SM4ghHSq
vrFOIEJuoIX61/oYUsD5L4AM1fb4D4BdiMoD3rL9vX0OdH4zH7oCdcvzXl1dA4pmdXXVYUMHNzY0
+Pr5q6qqfno8Mt+cnLyHXj5IbwVnn4Q4DUaN31ttNjOVhTksbptGk2gSPPmDBDm2iIvtPmhXUMCy
3bimbx8zAfN/C2gHce+mx91J40YtWTgf1/1afcHZbt9zICgk/KbbBRNjIyH3y4BaRrylmbpeQ31j
P7Ne3OoqbW0dRA+YqrS0tBzs8JOQxY+sjIQkHZkiIOT+PaQYknB0uJyzq7v79VvnXd1tdx/EDeOW
2900Tt9FxbwODkOUE7L+G7h4+WpsfCJ2FArur1U0AHvKzMikSdAlaKSCI8b2ZVsEXnLFLxuwwnEJ
iTl5+aVsjrfPM0Tb537+iNTgfxbwQifPUq8QvxA79h6mgnhz88MnPqfOOpEP8ew/chyFuFBCAISe
mfOW9hkyMjQsXMj5OBx9Ikx1GLjATEhOHjJywqiJ0wZbjvf2eS5s+DzQVTggssbZC38aOnoyknrC
aXutDq9LgCZqhUBA6Rw2GylrSUkJk6mKbElBQQF5PoTIkoiINhAuaXMzMtfPLGxr9xYkZzQJcWya
3YeOhkVG/jB5clJqOsyL19SIbSGQaYcPI2M+yBEfefv4+PplZmUTqyQj5+Tlej545HzJ7fHTZ0jg
yGOQtoAY5AODw5p4zZMnjqGJ0577B5K8Da1IxsLfRr2NjgGNCvbpM1+/gCAYHOmIPVZTU/PqddDV
G7eQU9JoqMs+zAqDoPB+6PX0+ctXZWXl4JAxkYnef+x94ZL7wyfeCUkpqAmovcBrEWtoaIR+OWVl
rwOCUPVqa2upqShXcrmiXQaiurr6zbsor+ev+pr1Gtivz8D+ff+6Bfm8pqISNkKano4OTovZbG5F
paamupKCAhHAbBh0avfZblqLMZEII0RgqerrecqCGvUT2LL995DQd7UNtTAeeWmZRQvn2GxYg0EQ
Kg4eOQFPqqioUFbBbaitv3j+1ISxo4Xd2sDn+UvUTSuXLoRrio6Jg6uESYHPZnN+Wb9FXVV15fKF
difOQCcI9yNGmDse/wOt2OtLf15bwCrGEraIt+hra9NRBrdqe4PNTr/XQbJycg0NdWpMVfcLjkaG
hv6BITY79tY31KPIrKhEUtvk4nichmoXFVpJaamyCjMsPKJ//759e5si28O8KyoryXBkoThl5SdO
O/m9en3hItbKCzdJ+G1x8KjDxGnW0+YsXrFq/UX3q5OmWs9dsnLG3CUiC4Lz1dTUzGcVIu49evI0
KiYWpTaaGpoaMY2/DggQ1vFTf756HWzYo5vXvZtu50+ra6hfcr8BA0fTTY97iARnHexC/Z7eueI6
YdwoZJyCTh+A2b6Ljk7PzOnby0RbW3ukpXlJSWnEm3dowkXRKi8nh+PBIw5WFuZjRlkgUr2Lim1q
agTzwFF7Nqd8zMjh3g9unjy8t+2m2bX/CMqirRt/fRfke/r4H9V1db8fsAPf+aI7Qwpl9qFwfx8v
j6szpnzXv18/6kN1qqrM3NwCNaYK0j2TnsYW5sOYKipYupw84fMgyOB40M5BRYVp1tvU2MgoOzef
PFBuVQ71C3VmizhNjclkKilXVFUlJKUid1RVUdHS0PC8/1CwJcVRkpn1MmUVFu603Yxl7mPWm1VU
DF9Gdgi50F/B5XLvPfJC+D3jcMS4R/cRFuY//7RIVlrmic9ztDKkpWGtdx96xca+79/XzMXppLJS
B1vkovstjL5k8XzQyxfPl5aSvuR2DbTomthkZx2OnD997OTRw/BX4hK0Zn5LZnZ2YHA4gr790T8M
DfQnTRzPVFOFujHV4tLSoNDwbt10TUxMwsLfqCopazCZqWkZnPIyaVlpfnOL54MnAUEhxsaGDkcO
qjJVqGyvhwH1jEKdqSIrK5+Rnr5z78Gbtz3l5OQ4HKH3gYdZsvJXKRlZOVlpU9Oe3Q26MRjSew4e
gVUS7RCFNzcLHtEKTpDD0ekSrbchjl2PxAJDlXI4utqaKooKhayCXiYm5RyOpoYapq7Smv91AHGx
olI2FKGurq6jrU1s38TYkM/nsdnUJ4xtN1BfEwkNi1iwcs2y1esTk1PbLRlkCouKo+Pea6ir2Z/6
E7tt9SYbVFWJaZkIANQFAHEx7OZRVpa4o6bGRsQU8BBX3sXEIpb06dMLGRTGwQYVb+YjaUKcq+RW
8hoacb9bduzdaLtr1QYbJNC467ra+sN7djKVFN+9i1372/ZZC5eHRbylRsP/wQMGJCWnwxyRk7wI
DPlu0vj/zJjKkJRs4vGhZVwbZmVm1iu/IB+cwgJWKbuMLikxwsrSy+cZNUsRBHOuqq4ur+Ci4G5s
4lVwK/GD5B/bB3OC/VZX18CdhbyJhls3NTEeMKB/n969s3NyUUYKhugILWIKcjJ0mjgiCmVuAkVW
VlHPOpBygkbkeOx5/cSR/cMHD0pMSVv40y+InIKeQqBLVEwcn8eXZDCYKopMpgpTSUVKBk5L8uWr
12TxAEwPOZVAnjAEd9RMPcslr5YAWBBV+lFdqD0NG1JhKvs+8Xz17KH/s4d3b7j5PrmnraXZTVfn
we0r2CVjRo2gPrJhS70woXSNWMfmlCI5qOByj+zdNXzIkPcJ8YhZOtrqCLsQ0NBQL+UgN6soLy/T
0tXJys427q6PjM1m4zrBBNpAXHzKD5NWr1w2cEBfbU2NxQvmLl00F7ERKR6aoHTMFVI/ThyrpaG5
a9/hVet+QwEWEhZhaNhddM8fg7pvHW0dY5OebA7H5fJVWBaU7nn/gaSU9KB+iM/iAcGhCLHjx4xy
dzk7bpQVIlt6RibpDJBhfV8FYKD51tNvurt6XHW95X7h4C5baDY0LLKpibzZEim4FeJUNj3C0oLB
kEpOSX0XFY35x8cnlpZy6JKSfB6PyVSWkpEqKCiCQrBwWDrE2IzMTBTSSFqKSorhjc+dOjZ+zAjM
AUUZHb9Qs2BxStlsE2PjY6fO0MRo2tqaJsY9hw4ciCzbYvgQXHe01XBkJvcePzHr2wd7p7ikZMkC
a1lZuVb/QSG/oEBHQw0Tamps0NHRRDKIoIOltxxK7ZtZ0ykHZ2psCMO/4HZdWUnh11XLYQIIa6Hh
kbglgcFS9iIcTkyspq4ewlAu6NNHD8xeuOLi5SvQbHVtbWZmjmlPozWrlsHSN27bjejSx7QnkoG4
uPdiLfyBAz68+MewZeVlgUEhDfUNIy0tCRN3rW9gICFBj4tPSkpNQwaCMSm7I7fTgiSvGiqDpeto
a1lPn3LnwZMtuw5oqqulZWYrKchVV1XBXaipqq5b9dPug0fXbNreo7s+bjwtM0uCLhnh/3Tb3j8a
G2v7mZkpKaskxL+Hu4PXlti/fz8GLy1hIzthqqqMtLSYPGGskWH31PSMAf36Pnv5aujgQZKS9N6m
JsOHDnru62c+bGhRSemkcWPW/LwcHSllNrdEvImyMh/WXd8Apz0Muut309XT0cY+6qanq6+rq6Ss
PHjQAF1trSs3PIYNGSRJp6emp0OoqrIS94O684bH3bWrV9AoZ/9B0XA66Rlpamrq48aM1FBXV5CX
B5FbwCopLpGkS8CKnc/YQ8XoZWxoWF9fV1hYBMM3MjJyOHoIg0ObxNsAIWGR2JYjhg+eNXM64aAJ
kbayiouwJCsj3a9P76ysbMMeBuPHjsKY2IUp6Znd9fUnTRiLU1hbGacMkaaJ1/T71k3ycrIKysqo
8hUVFPqa9UbkQFpVUVlBl2RYDR+yfctGfT3dXibGMLWCwiLUKzo6enu2/da/Xx9qhQHskZNnqc+f
37h195zr5VNOzrv2H8YpjCgpOU0gQgFbtbGpEWkpaKy5gPf5z5gRwHFv270f2Yj9mXNI1dOzcjKz
ckpLS5+98EemKBQSfPCMgBpf+L8tk4+ygkxAcCpsxRFM4tDJqaBdCEHGKeS0awIDrWQI4Y9ARkAK
frUC1yVP51vZ1JFQ8Le4I/Kiqi1q6+rQi8rKBdKCfSMmpqWpESWomrob6P2yYlltVfW+HVtRo8O0
g8LCwYc0juTdE3Y9aJHVfCGe+r6cPuXH4uISs14mqLLOuVxiFbLU1NSCwyNm/DBZKNTWrjG+8H9b
Jo08dWk9FbbiCCZMlTybJEwRBI8hhZx2TWCglQwh/BHICEjBr1bgulJSUiBa2dSRUAwGA/sD/pqS
awMZaWn0Qj4KGpJCXSspKSHDf/bSz8rS/JbnfUmGpOvVGwmJKUqKCpWVlRlZ7V9yfxWwTrD9goIC
K4th6ZmZ+rp6Zr17L547u76hEWZYUlyEAkoo+q+GUNfAiqULbnk+AlHG4Vj/Z/q6Vct//H4idLR8
8QJXt6tksxDJrwJ6YZ38AoJGWFhgD+YWFD3yfiojxVBVVbUyHx4WHj5oIPWqvjPgg657mfSUlZXO
L2Ct+GkJu6zi4aPHHvcf/7Z9t7KK8uQJ48LfvIXK/oG60SsnL//RIy9L86EX3a5aDB287bcNcfGJ
T319ZWSk7c84fzdx3D9bxf93+KBr4JflS+97+cC/xMbGjho1KjMzY+3Py1GGjLIyv//Yp7Ky+ms9
CZSITOjMeVf7o4fS0jIM9PUQXXfsOzTCyhxRwcfXz8DAoIeB/v/GQf1/AtRBAC/R2Nj4n4XLkTsj
RT5kdzw8kvrENPEeKClXb7RBtktO2+Az3+E4cdIxSPA5ecDbx/f+Y29OWXlQcAii/5Kf10L1pKkz
4IOuCQKCQ6ACEE+e+lDJUBvNovA9dvIMedvdht+BrkWtThdcr1y/SWgRnF0vV1VVh4SFOwi+ttR5
0F7XgJ396eDQD3+FAqZXXEx9FxpITUvfaLMDmTLoVoX+rV3b2Z/0eU59EwloaKivpj7CIVyD8vJy
izGTuVV/3SX/ZrTXNW6+gsudOX9pY6Nwd9ufPmvUZwjKBKKX6uqaHbv3R7ylHg4I2jvQdUZm9rbf
92GLgCa9tuzaN2cx9VU+cvrrJtugzvdHRTqwayAoNHzK7EVEm2xO2fv4RKIjckTx6PP85bZde1/4
+aNkAudM63ekE5NS9h4+6uTsyhH8PQUiD6Csz84Rvr2899jr8HHqTwqIWjsJOkjjKK64+KUr10Gv
XLa4LRMmHJ+QhDyut2lPlFs379zPyy9QUlLMyMwwM+vFLuXIKyovmD1DQ10tKTklPjl1zsxpwp5k
FDGx4Ig3ew8cefbQQ1JSsrOkHyJAFX8FsTibHb/bOTiKThEqTzg6wXugdj/tdC41La2uvh5NSE6q
qqpQXjYI/jIA4B8QcPvugzxWIZvDwSlkyAix8YnWi36qqRE+zehs+Ci/FgEWhzZ7u8N5eaxrtzyJ
/VVWVUHdw4cM7NZNd8Ovv7hduwUHEvs+HmVOeQU35n1iaUmJ7a69SBzHjBoV9z4hJDSipLSUy63E
aEBUTNzGLdvPOzqIPgLa2dCxrkU463CksLh42ao1PD5fXk5OWlo6KiamoKCwtq4OhhoX994/IEiN
qVpeUREXH6+rq6umpo4oCs3OnzMrNj7h7dso6msTYmLXb3k6nnN5cvemmioTrWTwzoa/1TXRCI7b
Nq+fNmXqouW/ZmbnbFqzqqysHDGzgFU4e+Z0I0NDVnHpwP595eXlyQfMrCyGpaZlJCQla6ipGvfo
PnfObCkGA8b+Kjj40rnT8q0fxuykIK7kEyCuFjHw57W/IVdjc9g4zc7JTUtPLyouPnDkOE6zcnI3
2u6Eh8nNzbnkdjUxOZn0sj9zfqr14oDgUNBd+KLHSUQGNv70+QsnF7fBA/rNnT1DT0dHUVGhtrZO
QUG+jFOWm59HfQSCRkPtw2IV+b567f3Md+zoETYb2v9dkU6Lr350h+Q6IyvLPyiUetfJb9bW1JSV
lZGXk21saqqqqS0tLq6vbzA2Mpw0fmwfM1MlReqLXNSSdlYf3RZfreu2ikOFmZaWUVTK4fGpz6ao
KCsZdTfQ06U+XQZ0qbgdvlrXInSp8mvxz3Xdha/FZ/LrLvwX0aXrb4cuXX87dOn626FL198OXbr+
dujS9beCmNj/AM/qdJfB+4YmAAAAAElFTkSuQmCC" alt="Logo UAndes" />
		</td>
		<td colspan="4" style="text-align:center;padding-left:100px; border:none;">
<h1 style="text-shadow: 2px 2px;">Proceso nocturno Panelv3</h1>
		</td>
		</tr></table>
		</div>
	</header>

<section>
<p align="right">Fecha del proceso: ${headers.fechaProceso}</p>
<br><br>
<h3>Estimado</h3>
<br><br>
<h2>Informe de proceso ${headers.proceso}</h2>
<br><br>
<p>
El proceso se ha ejecutado por &uacute;ltima vez a las ${headers.ultimaEjecucion}. Empez&oacute; a las ${headers.horaComienzo} y termin&oacute; a las ${headers.horaTermino}.
</p>
<li>Estad&iacute;sticas del proceso:
<ul>Se leyeron ${headers.countProcesados} registros desde Banner</ul>
<ul>Se detectaron ${headers.countErrores} errores en el proceso</ul>
<ul>Grupos agregados a la tabla MI_GRUPOS: ${headers.countGruposAgregadosBD}</ul>
<ul>Grupos agregadas al AZURE: ${headers.countGruposAgregadosAD}</ul>
<ul>Grupos sacados de la tabla MI_GRUPOS: ${headers.countGruposSacadosBD}</ul>
<ul>Grupos sacados del AZURE: ${headers.countGruposSacadosAD}</ul>
<ul>Miembros agregados a la tabla NAP_GRUPO_MIEMBRO: ${headers.countMiembrosAgregadosBD}</ul>
<ul>Miembros agregados al AZURE: ${headers.countMiembrosAgregadosAD}</ul>
<ul>Miembros sacados de la tabla NAP_GRUPO_MIEMBRO: ${headers.countMiembrosSacadosBD}</ul>
<ul>Miembros sacados del AZURE: ${headers.countMiembrosSacadosAD}</ul>
</li>
<br><br>
#if(${headers.reporteErrores.size} > 0)
	<table style="border: 1px solid black;width=100%">
	<caption style="padding-bottom: 30px;text-decoration: underline;">Res&uacute;men de problemas encontrados en el proceso</caption>
	<tr>
	<th>RUT</th>
	<th>Tipo</th>
	<th colspan="2">causa</th>
	<th>key Grupo</th>
	</tr>
	#foreach($reporte in ${headers.reporteErrores})
		<tr>
		<td>$reporte.idUsuario</td>
		<td>$reporte.tipo</td>
		<td colspan="2">$reporte.causa</td>
		<td>$reporte.keyGrupo</td>
		</tr>
	#end
	</table>

#end
<br><br>
</section>

<footer style="padding-top: 100px;">
Este correo ha sido generado en forma autom&aacute;tica por el Sistema PANEL de TI,<br><br>
<a href="http://www.uandes.cl">Universidad de los Andes</a>
</footer>

</body>
</html>
	
